#vision-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.vision {
  border-radius: 10px;
  padding: 20px;
  max-width: 32%;
}

.vision-title {
  margin: 14px 0 10px;
  font-size: 13px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}

#digital-transformation {
  background-color: rgba(84, 144, 245, 0.2);
}

#digital-transformation:hover {
  background-color: #fff;
  cursor: pointer;
}

#digital-transformation-button {
  background-color: #5490f5;
}

#digital-transformation-button:hover {
  background-color: #3669b0;
}

#green-energy {
  background-color: rgba(115, 218, 112, 0.2);
}

#green-energy:hover {
  background-color: #fff;
  cursor: pointer;
}

#modern-infrastructure {
  background-color: rgba(255, 194, 57, 0.2);
}

#modern-infrastructure:hover {
  background-color: #fff;
  cursor: pointer;
}

#modern-infrastructure-button {
  background-color: #ffc239;
}

#modern-infrastructure-button:hover {
  background-color: #ffa425;
}

blockquote::before {
  content: '';
  background: url('../assets/quote-bg.png') no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 15px;
}

blockquote {
  background-color: #fff;
  margin-top: 18px;
  padding: 25px 15px;
  border-radius: 10px;
  position: relative;
}

#quote-author {
  color: rgba(14, 14, 14, 0.7);
  margin: 10px 0 5px;
  font-size: 13px;
  font-weight: 700;
}